<% if @article.errors.any? %>
<h2>The following error prevented the article from getting created</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @article do |j| %>
<p>
  <%= j.label :title %><br/>
  <%= j.text_field :title %>
</p>
<p>
  <%= j.label :description %><br/>
  <%= j.text_area :description %>
</p>
<p>
  <%= j.submit %>
</p>
<% end %>   
<%= link_to "Back to articles listing", articles_path %>